<!doctype HTML>
<html>
    <head>
        <title>Smart Home</title>
        <style>
            .cls1{
                color:white;
                font-size:20px;
            }
            .cls2{
                font-size:18px;
                color:indigo;
            }
            .rectangle{
                width:180px;
                height:180px;
                background-color:indigo;
                border:0;
                border-radius:15px;
            }
            
        </style>
    </head>
    <body>
        <div style="background-color:#00adb5;">
            <table>
                <tr>
                    <td><img src="F:\True Rough Practical\static\Smart home logo.png" style="width:50px; height:50px;" /></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1">Home</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1">Smart Control Hub</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1">About Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1">Contact Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1">Login</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1"><img src="F:\True Rough Practical\static\notify logo.png" style="width:40pxpx; height:40px;" /></a></td>
                    <td>&emsp;&emsp;<a href="#" class="cls1"><img src="F:\True Rough Practical\static\user profile logo.png" style="width:40px; height:40px;"/></a></td>
                </tr>
            </table>
        </div>
        <center>
            <u style="color:indigo; font-size:20px;"><b>Control Devices</b></u>
            <p><b>You can control following devices:</b></p>
        <table>
            
            <tr>
                <td>
                    <a href="#"><table>
                        <tr>
                            <div class="rectangle">
                            <center>
                            <img src="F:\True Rough Practical\static\bulb 12.jpg" style="width:100px; height:80px; margin-top:20px;" /><br />
                            <p style="color:whitesmoke;">Bedroom Light1<br />
                            Status:
                        <input type="text" name="status" style="width:10px; background-color:indigo;"></p>
                            </center>
                        </tr>
                    </table></a>
                </div>
                </td>
                <td>
                    &emsp;&emsp;&emsp;&emsp;
                </td>
                <td>
                    <a href="#"><table>
                        <tr>
                            <div class="rectangle">
                            <center>
                            <img src="F:\True Rough Practical\static\ac 2.jpg" style="width:100px; height:80px; margin-top:20px;" /><br />
                            <p style="color:whitesmoke;">Bedroom AC<br />
                            Status:
                        <input type="text" name="status" style="width:10px; background-color:indigo;"></p>
                            </center>
                        </tr>
                    </table></a>
                </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                </td>
                <td>
                    <img src="F:\True Rough Practical\static\smart home app 2.jpg" style="width:500px; height:200px;" />
                </td>
                <td>
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                </td>
                
            </tr>
            <tr>
                <td>
                    <a href="#"><table>
                        <tr>
                            <div class="rectangle">
                            <center>
                            <img src="F:\True Rough Practical\static\fan 5.jpg" style="width:100px; height:80px; margin-top:20px;" /><br />
                            <p style="color:whitesmoke;">Bedroom Fan<br />
                            Status:
                        <input type="text" name="status" style="width:10px; background-color:indigo;"></p>
                            </center>
                        </tr>
                    </table></a>
                </div>
                </td>
                <td>
                    &emsp;&emsp;&emsp;&emsp;
                </td>
                <td>
                    <a href="#"><table>
                        <tr>
                            <div class="rectangle">
                            <center>
                            <img src="F:\True Rough Practical\static\bulb 12.jpg" style="width:100px; height:80px; margin-top:20px;" /><br />
                            <p style="color:whitesmoke;">Bedroom Light2<br />
                            Status:
                        <input type="text" name="status" style="width:10px; background-color:indigo;"></p>
                            </center>
                        </tr>
                    </table></a>
                </div>
                </td>
                
            </tr>

        </table>
        </center>
    </body>
</html>