{% load static %}
<!doctype HTML>
<html>
    <head>
        <title>Smart Home</title>
         <link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}" />
        <style>
            .cls1{
                color:white;
                font-size:20px;
            }
            .cls2{
                font-size:18px;
            }
            .nounderline{
                text-decoration: none;
            } 
        </style>
    </head>
    <body>
        <div style="background-color:#00adb5;">
            <table>
                <tr>
                    <td><img src="{% static 'images/Smart home logo.png' %}" style="width:50px; height:50px;" /></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Home</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Smart Control Hub</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">About Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Contact Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Login</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1"><img src="{% static 'images/notify logo.png' %}" style="width:40pxpx; height:40px;" /></a></td>
                    <td>&emsp;&emsp;<a href="#" class="cls1"><img src="{% static 'images/user profile logo.png' %}" style="width:40px; height:40px;"/></a></td>
                </tr>
            </table>
        </div>
        
        <table>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                </td>
                <td>
                    <img src="{% static 'images/LoginImg.jpg' %}">
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </td>
                
                <td>
                    <h1 style =color:indigo>&nbsp;&nbsp;&nbsp;&nbsp;Login Failed.</h1>
                    <h3 style =color:red>&nbsp;&nbsp;&nbsp;&nbsp;Invalid Login details.</h3>
                    <h3 style =color:red>&nbsp;&nbsp;&nbsp;&nbsp;Please login again with correct credentials.</h3>
                    <form action="{% url 'myapp1:user_login' %}" method="POST">
                        {% csrf_token %}
                        <label for="email" style="color:indigo;" class="cls2"><b>Email Address</b></label><span style="color:red;">*</span> <br />
                        <input type="email" name="email" placeholder="Email Address" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" required/>
                        <br />
                        <label for="password" style="color:indigo;" class="cls2"><b>Password</b></label><span style="color:red;">*</span> <br />
                        <input type="password" name="password" placeholder="Password" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" required/>
                        <br />
                        <input type="checkbox" name="c1" value="Remember me" style="background-color:#d6d3cf;"/>Remember me&nbsp;&nbsp;&nbsp;
                        &nbsp;<a href="#" style="color:blue;"><i>Forgot Password?</i></a>
                        <br />
                        <br />
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" name="loginbtn" value="Login" style="background-color:#2fc0ff; border:0; color:white; font-size:20px; width:180px; height:50px;" />
                    </form>
                </td>
                
            </tr>
        </table>
        
    </body>
</html>