{% load static %}
<!doctype HTML>
<html>
    <head>
        <title>Smart Home</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}" />
        <style>
            .cls1{
                color:white;
                font-size:20px;
            }
            .cls2{
                font-size:18px;
            }
            .nounderline{
                text-decoration: none;
            } 
            
        </style>
    </head>
    <body>
        <div style="background-color:#00adb5;">
            <table>
                <tr>
                    <td><img src="{% static 'images/Smart home logo.png' %}" style="width:50px; height:50px;" /></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Home</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Smart Control Hub</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">About Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Contact Us</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1 nounderline">Login</a></td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#" class="cls1"><img src="{% static 'images/notify logo.png' %}" style="width:40pxpx; height:40px;" /></a></td>
                    <td>&emsp;&emsp;<a href="#" class="cls1"><img src="{% static 'images/user profile logo.png' %}" style="width:40px; height:40px;"/></a></td>
                </tr>
            </table>
        </div>
        <h1 style ="color:indigo;">&nbsp;&nbsp;&nbsp;&nbsp;Sign Up</h1>
        <table>
            <tr>
                <td>
                    {% if registered %}
                        <h1>Thank you for registering.</h1>
                    {% else %}
                        
                        <form method="POST">
                            {% csrf_token %}
                            <!--{{user_form.as_p}}
                            {{register_form.as_p}}-->

                            <label style="color:indigo;" class="cls2"><b>Full name</b></label><span style="color:red;">*</span><br /> 
                        {{user_form.full_name}}
                        {{user_form.full_name.errors}}
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Username</b></label><span style="color:red;">*</span><br /> 
                        {{user_form.username}}
                        {{user_form.username.errors}}
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Email Address</b></label><span style="color:red;">*</span> <br />
                        {{user_form.email}}
                        {{user_form.email.errors}}
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Mobile number</b></label><span style="color:red;">*</span><br />
                        {{register_form.mobile_number}}
                        {{register_form.mobile_number.errors}}
                        
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Home Address</b></label><br />
                        {{register_form.home_address}}
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Password</b></label><span style="color:red;">*</span><br />
                        {{user_form.password}}
                        {{user_form.password.errors}}
                        
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Confirm Password</b></label><span style="color:red;">*</span><br />
                        {{user_form.confirm_password}} 
                        {{user_form.confirm_password.errors}}
                        {{user_form.non_field_errors}}



                        <!--<label style="color:indigo;" class="cls2"><b>Full name</b></label><span style="color:red;">*</span><br /> 
                        <input type="text" name="name" placeholder="Full name" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" />
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Email Address</b></label><span style="color:red;">*</span> <br />
                        <input type="email" name="email" placeholder="Email Address" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" />
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Mobile number</b></label><span style="color:red;">*</span><br />
                        <input type="tel" name="mob" placeholder="Mobile number" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" />
                        
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Home Address</b></label><br />
                        <input type="text" name="addr" placeholder="Home Address" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" />
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Password</b></label><span style="color:red;">*</span><br />
                        <input type="password" name="passw" placeholder="Password" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" /> 
                        
                        <br />
                        <label style="color:indigo;" class="cls2"><b>Confirm Password</b></label><span style="color:red;">*</span><br />
                        <input type="password" name="confirmpassw" placeholder="Confirm Password" style="background-color:#d6d3cf; width:400px; height:33px; border:0;" /> 
                        -->
                        <br />
                        <br />
                        &emsp;&emsp;&emsp;&emsp;<input type="submit" name="createbtn" value="Create Account" style="background-color:#2fc0ff; border:0; color:white; font-size:20px; width:180px; height:50px;"/>
                    </form>
                    {% endif %}
                     <p> <i>Already have an account?</i> &nbsp;&nbsp;&nbsp;<a href="{% url 'myapp1:user_login' %}">Sign In</a></p>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <img src="{% static 'images/signupImage.jpeg' %}" />
                </td>
            </tr>
        </table>    
    </body>
</html>